*{
    box-sizing: border-box;
}
html{
    background-image: url(https://fondosmil.com/fondo/49838.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body{
    background-color: #262525dd;
    color: #e6ddbc;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
}
#title, #description{
    text-align: center;
    margin: 0;
}
#title{
    padding: 30px 0 20px 0;
}
#description{
    padding-bottom: 20px;
}
main{
    margin: 0 auto;
    width: 38em;
    background-color: #52525299;
    border-radius:10px;
}
#survey-form {
    padding: 2rem;
    font-size: 20px;
}
.form-group{
    margin: 7px 0 0 0;
    padding-bottom: 20px;
}
.form-group > label, .form-group > input, .form-group > select{
    display: block;
}
.form-group > input, .form-group > select {
    padding: 8px;
    border-radius: 5px;
    border-style: none;
    width: 98%;
}
.form-group > select{
    color: #787878;
}
.mini{
    font-size: 13px;
}
.radio-container, .radio-container > *, .checkbox-container > label{
    display:block;
    font-size: 0.85em;
    color: #ece7d5;
}
.input-radio{
    margin-right: 0 5px 5px 0;
    vertical-align: top;
}
#suggestion{
    width: 98%;
    height: 6em;
}
#submit{
    margin: 0 auto;
    width: 98%;
    padding: 10px;
    background-color: #009999;
    border-style: none;
    border-radius: 5px;
}
input:hover, textarea:hover, select:hover{
    background-color: #999999;
    transition: 0.2s;
}
#submit:hover{
    background-color: #69ffc6;
    transition: 0.4s;
    color: #080072;
}